{% if site.documentation %}
	<div class="u-bg-gray-30 u-pt-8 u-pb-4">
		<div class="o-container">
			<div class="o-row u-mb-5">
				<div class="o-col-6@md o-col-4@lg u-mb-3">			
					{% assign documentation = site.documentation | sort: 'order' %}
					{% for document in documentation %}
						<a href="{{ document.url }}" class="c-feature-card">
							<div class="c-feature-card__content">
								{% if document.title %}
									<h4 class="u-h1 u-font-normal">{{ document.title }}</h4>
								{% endif %}
								{% if document.description %}
									<p>{{ document.description }}</p>
								{% endif %}
							</div><!-- /.c-featured-card__content -->
						</a><!-- /.c-feature-card -->
					</div><!-- /.col -->
				</div><!-- /.o-row -->
			{% endfor %}
		</div><!-- /.o-container -->
	</div>
{% endif %}
