{% if site.documentation %}
	<div class="u-bg-gray-30 u-pt-8 u-pb-4">
		<div class="o-container">
			{% assign documentation = site.documentation | sort: 'order' %}
			{% for document in documentation %}
				<div class="o-row">
					<div class="o-col-10@lg o-col-8@xl o-offset-1@lg u-mb-4 u-mr-auto">
						<a href="{{ document.url }}" class="c-feature-card">
							<div class="c-feature-card__content">
								{% if document.title %}
									<h4 class="u-h1 u-font-normal">{{ document.title }}</h4>
								{% endif %}
								{% if document.description %}
									<p>{{ document.description }}</p>
								{% endif %}
							</div><!-- /.c-featured-card__content -->
						</a><!-- /.c-feature-card -->
					</div><!-- /.col -->
				</div><!-- /.o-row -->
			{% endfor %}
		</div><!-- /.o-container -->
	</div>
{% endif %}
