/* =============================================================================
   FEATURE-CARD (components/_feature-card.scss)
   ========================================================================== */

/**
 * Card component used for highlighting features on your site.
 */

 .c-feature-card {
	@extend .o-link-bare;
	position: relative;
	display: flex;
	min-height: 100%;
    height: 100%;
	color: $color-gray-300;
	background-color: $color-white;
	// padding: 1.25rem 1.5625rem .3125rem 1.5625rem;
	// transition: 0s background-color;

	@include media-breakpoint-up(md) {
		// padding: 1.5625rem 1.875rem .625rem 1.875rem;
	}
}

.c-feature-card:hover {
	// background-color: #ffaf36c4;
	box-shadow: -0.4em -0.4em 0.5em -0.4em;
	// box-shadow: inset -0.5em 0 0 0;
	  // transform: translateY(-0.25em);
	// transition-delay:0.3s;
}

// .c-feature-card:focus {
// 	background-color: #302c27
// }

.c-feature-card--large {
	font-size: 1.125rem;
	padding: 1.25rem 1.5625rem 0 1.5625rem;

	@include media-breakpoint-up(md) {
		// padding: 1.25rem 1.875rem 0 1.875rem;
	}
}



/* Icon
   ========================================================================== */

.c-feature-card__icon {
	flex: 1 2 auto;
	font-size: 1.5rem;
	// margin-right: 1rem;
	margin-top: .1875rem;

	> svg {
		vertical-align: top;
	}
}

/* img
   ========================================================================== */
// .c-feature-card__img:not(media-breakpoint-up(md)){
// 	padding: 0 0 0 0;
// }
.c-feature-img {
	// flex: 1;
	// font-size: 3.5rem;
	// margin-right: 1rem;
	// display: inline-block;
	// margin-top: 2.4875rem;
	max-width:100%;
	// width: 100%;
    // box-sizing: border-box;
	// margin-left: -1.9rem;
	// margin-bottom: -2.1rem;
	// margin-right: -6.9rem;
	// position: relative;
	// vertical-align: left;
	// margin-left: -20px
	// height: 200px;
	// flex-shrink: 0;
	// flex: 0 0 400px;
	// justify-content: space-around;
		
	// left: -70px;
	// width: 100%;
	// img {max-width:100%;}
	// > img {
	// 	vertical-align: top;
	// }
}
// img {max-width:100%;}


/* Content
   ========================================================================== */

.c-feature-card__title {
	font-size: 1.25rem;
	// margin-bottom: 1rem;
	padding-left: 1.5625rem;
    padding-top: 1.5625rem;
    padding-right: 1.5625rem;
    // padding-bottom: 1.5625rem;
	// 1.25rem 1.5625rem .3125rem 1.5625rem;
	.c-feature-card--large & {
		font-size: 1.75rem;
		margin-bottom: 1.125rem;
	}
}

.c-feature-card__description {
	padding-left: 1.5625rem;
}



/* CTA
   ========================================================================== */

.c-feature-card__cta {
	font-weight: 500;
	margin-bottom: 1.25rem;

	.o-icon {
		font-size: 1.375rem;
		position: relative;
		top: 4px;
		transition: transform .2s;

		.c-feature-card:hover &,
		.c-feature-card:focus &,
		.c-feature-card:active & {
			transform: translateX(.3125rem);
		}
	}
}
